body{
    margin:0;
    font-family:Segoe UI, sans-serif;
    background:linear-gradient(135deg,#0f172a,#1e293b);
    color:white;
}

.sidebar{
    width:260px;
    height:100vh;
    position:fixed;
    background:#0b1220;
    padding:25px;
}

.sidebar h2{
    color:#38bdf8;
}

.sidebar a{
    display:block;
    margin:15px 0;
    color:#94a3b8;
    text-decoration:none;
    transition:0.3s;
}

.sidebar a:hover{
    color:white;
    transform:translateX(5px);
}

.main{
    margin-left:260px;
    padding:40px;
}

.card{
    background:#1e293b;
    padding:25px;
    border-radius:15px;
    margin-bottom:25px;
    box-shadow:0 10px 25px rgba(0,0,0,0.4);
    transition:0.3s;
}

.card:hover{
    transform:scale(1.02);
}

button{
    padding:10px 20px;
    background:#2563eb;
    border:none;
    border-radius:8px;
    color:white;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#1d4ed8;
}

.progress-bar{
    background:#334155;
    height:20px;
    border-radius:20px;
    overflow:hidden;
}

.progress-fill{
    background:#38bdf8;
    height:100%;
    width:0%;
}
